
html, body {
    height: 100%;
}

.visually-hidden {
    display: none;
}

body, main, form, #egg-amount-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    padding: 1em 0 1em 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

.icon
{
    width: 4em;
    height: 4em;
    padding: .5em;
}

#egg-size-selection, #egg-size-selection label {
    display: flex;
    flex-direction: row;
}

#egg-size-selection {
    width: 9em;
    justify-content: space-around;
}

#egg-size-selection label {
    justify-content: center;
    font-size: 3em;
    width: 100%;
}

#egg-size-selection input {
    display: none;
}

input[type="submit"], button {
    width: 10em;
    height: 3em;
    margin: 2em;
}