.notification-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #C2C9B1;
    padding: 1em;
    margin: .5em;
    border-radius: 1em;
    animation: warning-blink .7s linear 0s 2;
}

.notification-text {
    font-size: large;
}

.notification-btn {
    width: 10em;
    height: 3em;
    margin: 1em;
    background-color: #FFC421;
    border: 0;
    border-radius: 1em;
}

.notification-btn:hover {
    background-color: #d69d00;
}

.notification-btn:active {
    background-color: #805e00;
}

@keyframes warning-blink {
    0% {background-color: #C2C9B1;}
    50% {background-color: #f84129;}
    100% {background-color: #C2C9B1;}
}